<div class="row">
  <div class="col-md-4">
  <p><B>Collection:</B> <%= Collection.find(@element.collection_id).name%></p>

<%= form_for [@collection, @element] do |f| %>

<%= f.label "Element Name" %>
<%= f.text_field :name %>
<!-- % :collection_id = @element.collection_id % -->
<!--  %= f.inspect % -->
<br>


<br>
<%= f.submit %>

<% end %> 

<%= button_to "Delete Element", collection_element_path(@collection, @element) , method: :delete %>
<br>
<br>
<%= link_to "Back to Collection", collection_path(@collection) %>
  </div><div class="col-md-8"></div>
</div>