<div class="row">
  <div class="col-md-4">
    <p>Collection <%= @col.id %> <%= @col.name %> </p>

<%= form_for [@col, @element] , action: :create do |f| %>

<%= f.label "Element Name" %>
<%= f.text_field :name, autofocus: true %>
<!-- % :collection_id = @element.collection_id % -->
<!--  %= f.inspect % -->
<br>


<br>
<%= f.submit %>

<% end %> 
  </div>
  <div class="col-md-8">&nbsp;</div>
</div>