<h1>Elements#new</h1>
<p>Find me in app/views/elements/new.html.erb</p>



<p>Collection <%= @col.id %> <%= @col.name %> </p>

<%= form_for [@col, @element] , action: :create do |f| %>

<%= f.label "Element Name" %>
<%= f.text_field :name, autofocus: true %>
<!-- % :collection_id = @element.collection_id % -->
<!--  %= f.inspect % -->
<br>


<br>
<%= f.submit %>

<% end %> 