

<% if current_user %>
<%= link_to "Log Out", destroy_user_session_path, method: :delete %>
<%= link_to "Collections", collections_path %>
<% else %> 
<%= link_to "Sign In", new_user_session_path %>
<%= link_to "Register", new_user_registration_path %>
<% end %>

<h2>Public Collections</h2>
<% @collections.each do |col| %>
  <% if col.personal == false %>
    <li><%= col.name %></li>
  <% end %>
<% end %>

<dev>
  <br>
<%= link_to "About" %>
</dev>